@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Inter", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9f62f2;
  --color-secondary: teal;
  --color-base-200: #F3F3F3;
  --color-base-300: #E7E7E7;
  --color-accent: #706F6F;
}

/*Custom button override */
.btn-primary {
  @apply bg-gradient-to-r from-[#632ee3] to-[#9f62f2] border-none text-white;
}

.btn-primary:hover {
  @apply opacity-90;
}

